<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <head> <link rel="stylesheet" href="app.component.css" />
    </head>
   
  </head>
  <body>
    <h1>This is my first Angular App</h1>

<h2>I'm starting Angular</h2>

<h3>String Interpolation</h3>
<p ngNonBindable>Using string interpolation: {{ title }}</p>
<p>Using string interpolation, we can transfer data from TS to HTML.</p>
<p></p>

<h3>Property Binding - []</h3>
<p>Using property binding, we can transfer attribute values from TS to HTML.</p>
<input type="text" [value]="username" name="username" />

<h3>Event Binding - ()</h3>
<p>This is used to call JavaScript functions.</p>
<!-- <button (click)="clickme()">Click Me</button> -->

<!-- <h3>Two-Way Data Binding - [()]</h3>
<p>
  Two-way data binding allows data transfer both ways—from HTML to TS and vice
  versa.
</p> -->
<!-- <h3>Two-Way Data Binding</h3>

    <input
      type="text"
      [(ngModel)]="name"
      placeholder="Enter Your name"
      onmouseover="m1()"
    />
    <button (click)="m1()">ClickMe</button>
    <h1 on="m1()">your name is {{ name }}</h1> -->


    <!-- <h1> <Directives in the Angular </h1>
      <button (click)="toggle()"> Show/Hide</button>
    <h2 *ngIf="isdisplay">{{ title }}</h2> -->

    <!-- <h1>Directives in Angular</h1> -->

    <H1>ngIf</H1>
<button (click)="toggle()">Show/Hide</button>

<!-- Conditional Rendering with ngIf -->
<h1 *ngIf="isDisplay">{{title}}</h1>

<p>######################################################</p>
<h1>ngFor</h1>
<ul>
  <!-- <li *ngFor= "let item  is items" >{{ item }}</li> --> wrong syntex improve this 
   <li *ngFor="let item of items">{{ item }}</li>

</ul>

<table border="1px">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr *[ngClass]="">
    </tr>
  </tbody>
</table>
<p>######################################################</p>

<h1>ngswitch</h1>
<div  [ngSwitch]= "selectedNum">
  <p *ngSwitchCase="1"> pg1</p>
  <p *ngSwitchCase="2">pg2</p>
  <p *ngSwitchCase="3">pg3</p>
  <p *ngSwitchCase="2">default</p>
</div>